<hr>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Designer</strong> by Joathã Andrade - 2021<br>       
      </p>
      <div>
        <a href="https://github.com/joatha" target="blank"><img class="img"src="/img/github.png"/></a>
        <a href="https://www.linkedin.com/in/joatha/" target="blank"><img class="img"src="/img/lik.png"/></a>
      </div>
    </div>
  </footer>
</html>

<style>
.img{
    width: 2%;
    justify-content: space-between;
}
</style>