<body>
    <div>
        <%- include('menu.ejs')%>
    
    </div>
    
    
    <div>
        <p> Aplicativo desenvolvido, respeitando as boas praticas de desenvolvimento, qualquer duvida, 
            ou sugestão entre em contato!
        </p>
    </div>
    
    <div> 
        <%- include('footer.ejs')%>
    </div>
    
</body>
