@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.card-image{
   display: flex;
   justify-content: center;
   align-items: center;
}
.containerDescricao{
 
    text-align: center;
    justify-content: center;
    align-items: center;
    padding:1% ;
   
}

#textoFilme{
    width: 30%;

   
}

.containerPesquisa{
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.containerTituloFilme{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    
    

}